.margen{
    padding: 2rem;
}
.foto{
    border-radius: 3rem;
    width: 12rem;
}
.centrado{
    text-align: center;
}
mat-card,table {
    height: auto;
    width: auto;
    background-color: white;
}
td{
    color: black;
}
mat-grid-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  mat-grid-tile {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .arriba{
    align-self: flex-start;
  }
  
