<div class="margen-total" style="color:black;">
    <!-- FILA DE ARRIBA -->
    <mat-grid-list [cols]="2" rowHeight="80px">
        <!-- Columna Foto nombre y profesión -->
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color:rgb(226, 226, 211);">
            <div *ngFor="let persona of listaPersonas" style="text-align: center;">
                <img class="redondo" src={{persona.foto}} alt="Foto de Iago Alonso" width="180px" />
                <h1>{{persona.nombre}}</h1>
                <p>{{persona.profesion}}</p>
            </div>
        </mat-grid-tile>
        <!-- Columna Sobre Mi -->
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: rgb(226, 226, 211);">
            <div  class="texto-centrado margen-total">
                <mat-card style="background-color: white;">
                    <mat-card-content>
                        <h1>Sobre mi</h1>
                        <div *ngFor="let persona of listaPersonas">
                            <p> {{persona.descripcion}}</p>
                        </div>
                    </mat-card-content>
                  </mat-card>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- FILA DE ABAJO -->
    <mat-grid-list [cols]="3" rowHeight="100px">
        <!-- Columna idiomas -->
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: rgb(226, 226, 211);">
            <div class="texto-centrado ">
                <h1>Idiomas</h1>
                <table mat-table [dataSource]="listaIdiomas" class="mat-elevation-z8" style="background-color: white; ">
                    <ng-container matColumnDef="imagen" >
                        <th mat-header-cell *matHeaderCellDef ></th>
                        <td mat-cell *matCellDef="let idioma" style="color: black;"> <img width="60px" src="{{idioma.imagen}}"> </td>
                    </ng-container>
                
                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef ></th>
                        <td mat-cell *matCellDef="let idioma" style="color: black;"> {{idioma.nivel}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-grid-tile>
        <!-- Columna Tecnologías -->
        
        <mat-grid-tile [colspan]="1" [rowspan]="7" style="background-color: rgb(226, 226, 211);">
            <div class="texto-centrado">
                <h1>Tecnologías</h1>
                     <table mat-table [dataSource]="listaTecnologias" class="mat-elevation-z8" style="background-color: white; ">
                        <ng-container matColumnDef="imagen" >
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let tecnologia" style="color: black;"> <img width="50px" src="{{tecnologia.imagen}}"> </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="nivel">
                            <th mat-header-cell *matHeaderCellDef ></th>
                            <td mat-cell *matCellDef="let tecnologia" style="color: black;"> <img width="50px" src="{{tecnologia.nivel}}"> </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
    
                     
               




            </div>
        </mat-grid-tile>
        <!-- Columna personalidad -->
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: rgb(226, 226, 211);">
            <div class="texto-centrado margen-total">
                <h1>Personalidad</h1>

                <table mat-table [dataSource]="listaCaracteristicas" class="mat-elevation-z8" style="background-color: white; ">
                    <ng-container matColumnDef="imagen" >
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let caracteristica" style="color: black;"> <img width="40px" src="{{caracteristica.imagen}}"> </td>
                    </ng-container>
                
                    <ng-container matColumnDef="nombre" >
                        <th mat-header-cell *matHeaderCellDef ></th>
                        <td mat-cell *matCellDef="let caracteristica" style="color: black;"> <img width="50px"> {{caracteristica.nombre}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef ></th>
                        <td mat-cell *matCellDef="let caracteristica" style="color: black;"> <img width="70px" src="{{caracteristica.nivel}}"> </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCaracteristicas"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCaracteristicas;"></tr>
                </table>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
