<div class="margen" style="color:black;">
    <!-- FILA DE ARRIBA -->
    <mat-grid-list [cols]="colSize1" rowHeight="25rem">
        <!-- Columna Foto nombre y profesión -->
        <mat-grid-tile [colspan]="1">
            <div *ngFor="let persona of listaPersonas" class="centrado">
                <img class="foto" src={{persona.foto}} alt="Foto de Iago Alonso"/>
                <h1>{{persona.nombre}}</h1>
                <p>{{persona.profesion}}</p>
            </div>
        </mat-grid-tile>
        <!-- Columna Sobre Mi -->
        <mat-grid-tile [colspan]="1" >
            <div class="centrado">
                <mat-card>
                    <mat-card-content>
                        <h1>Sobre mi</h1>
                        <div *ngFor="let persona of listaPersonas">
                            <p>{{persona.descripcion}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
<hr>
    <!-- FILA DE ABAJO -->
         <mat-grid-list [cols]="colSize2"  rowHeight="8rem" >
        <!-- Columna idiomas -->
        <mat-grid-tile [colspan]="1" [rowspan]="4" >
            <div class="centrado arriba" >
                <h1>Idiomas</h1>
                <table mat-table [dataSource]="listaIdiomas" class="mat-elevation-z8" >
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let idioma"> <img width="70rem" src="{{idioma.imagen}}"> </td>
                    </ng-container>

                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let idioma"> {{idioma.nivel}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-grid-tile>
        
        <!-- Columna Tecnologías -->
        <mat-grid-tile [colspan]="1" [rowspan]="7">
            <div class="centrado arriba">
                <h1>Tecnologías</h1>
                <table mat-table [dataSource]="listaTecnologias" class="mat-elevation-z8">
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tecnologia"> <img width="50rem" src="{{tecnologia.imagen}}"></td>
                    </ng-container>

                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let tecnologia"> <img width="50rem" src="{{tecnologia.nivel}}"></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-grid-tile>
        <!-- Columna personalidad -->
        <mat-grid-tile [colspan]="1" [rowspan]="5">
            <div class="centrado arriba">
                <h1>Personalidad</h1>
                <table mat-table [dataSource]="listaCaracteristicas" class="mat-elevation-z8">
                    <ng-container matColumnDef="imagen">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let caracteristica"> <img width="40rem" src="{{caracteristica.imagen}}"></td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let caracteristica"> <img width="50rem">{{caracteristica.nombre}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nivel">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let caracteristica"> <img width="70rem" src="{{caracteristica.nivel}}"></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCaracteristicas"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCaracteristicas;"></tr>
                </table>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
