mat-grid-list{
  color: black;
  margin: 2rem;
}
mat-card-subtitle{
  color: black;
}
.example-card {
    max-width: 600px;
    height: 300px;
    margin: 8px;
    background-color: white;
  }
  .padding{
    padding: 10px;
  }
  .centrado{
    text-align: center;
}