<mat-grid-list [cols]="colSize" rowHeight="70rem" >
        <!-- Columna Formación Académica -->
        <mat-grid-tile>
            <div class="centrado">
                <h1>FORMACIÓN ACADÉMICA</h1>
                <!-- Tarjetas Formación académica -->
                <div *ngFor="let formacion of listaFormacionAcademica">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{formacion.titulo}}</mat-card-title>
                                <mat-card-subtitle>{{formacion.centro}}</mat-card-subtitle>
                                <mat-card-subtitle>{{formacion.fecha}}</mat-card-subtitle>
                                <img mat-card-md-image src={{formacion.imagen}} alt="Logotipo entidad formadora">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>{{formacion.descripcion}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-grid-tile>
        <!-- Columna Formación Complementaria -->
        <mat-grid-tile>
            <div class="centrado">
                <h1>FORMACIÓN COMPLEMENTARIA</h1>
                <!-- Tarjetas Formación complementaria -->
                <div *ngFor="let formacion of listaFormacionComplementaria">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{formacion.titulo}}</mat-card-title>
                                <mat-card-subtitle>{{formacion.centro}}</mat-card-subtitle>
                                <mat-card-subtitle>{{formacion.fecha}}</mat-card-subtitle>
                                <mat-card-subtitle>Horas: {{formacion.horas}}</mat-card-subtitle>
                                <img mat-card-md-image src={{formacion.imagen}} alt="Logotipo entidad formadora">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>{{formacion.descripcion}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>