<mat-grid-list [cols]="colSize" rowHeight="25rem">
    <h1>Experiencia profesional</h1>
    <div *ngFor="let experiencia of listaExperienciaProfesional">
            <mat-grid-tile [colspan]="1">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{experiencia.puesto}}</mat-card-title>
                        <mat-card-subtitle >{{experiencia.empresa}}</mat-card-subtitle>
                        <mat-card-subtitle >{{experiencia.fecha}}</mat-card-subtitle>
                        <img mat-card-md-image src={{experiencia.foto}} alt="logotipo empresa">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>{{experiencia.descripcion}}</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        </div>
</mat-grid-list>