
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="padding-top: 30px;"><img width="150px" src="assets/images/logoIago.png"></mat-toolbar>
    <mat-nav-list style="padding-top: 110px;">
      <a mat-list-item [routerLink]="['/']">Sobre mi</a>
      <a mat-list-item [routerLink]="['/dashboard/formacion']">Formación</a>
      <a mat-list-item [routerLink]="['/dashboard/experienciaProfesional']">Experiencia profesional</a>
      <a mat-list-item [routerLink]="['/dashboard/otraInformacion']">Otra información</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navBar-color">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Currículum web de IAGO ALONSO</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
