<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="padding-top: 30px;"><img width="150px" src="assets/images/logoIago.png"></mat-toolbar>
    <mat-nav-list style="padding-top: 110px;">
      <div class="flexYcenter espacioizq">
        <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
        <a mat-list-item [routerLink]="['/']">Sobre mi</a>
      </div>
      <div class="flexYcenter espacioizq">
        <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon" fontIcon="school"></mat-icon>
        <a mat-list-item [routerLink]="['/dashboard/formacion']">Formación</a>
      </div>
      <div class="flexYcenter espacioizq">
        <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon>
        <a mat-list-item [routerLink]="['/dashboard/experienciaProfesional']">Experiencia</a>
      </div>
      <div class="flexYcenter espacioizq">
        <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>
        <a mat-list-item [routerLink]="['/dashboard/otraInformacion']">Otra información</a>
      </div>
    </mat-nav-list>
    <div class="rrss">
      <div>
        <img src="/assets/images/rrss/qr.png" class="qr" />
      </div>
      <div class="lineal">
        <a href="https://www.linkedin.com/in/iagoiam/"><img width="50rem" src="/assets/images/rrss/linkedin.png" /></a>
        <a href="https://github.com/iagoam82"><img width="70rem" src="/assets/images/rrss/github.png" /></a>
      </div>

    </div>
  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar color="primary" class="navBar-color" style="height: 10rem;">
      <button style="padding-right:7rem;" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <div *ngIf="isMobile; else isPC">
        <div class="contenido-movil">
          <div><!-- teléfono y email -->
            <div class="flexYcenter">
              <a>
                <img width="30rem" src="CvOnline/src/assets/images/rrss/whatsapp.png" />
              </a>
              <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon"
                fontIcon="phone_iphone"></mat-icon>
              <span>673.549.799</span>
            </div>
            <div class="flexYcenter">
              <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
              <a href="mailto:iagoiam82@gmail.com" style="color: white;"> iagoiam82@gmail.com</a>
            </div>
          </div>
          <div><!--titulo-->
            <h1>IAGO ALONSO MEIJIDE</h1>
          </div>
          <div>
            <div class="flexYcenter"><!--ciudad-->
              <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon"
                fontIcon="person_pin_circle"></mat-icon>
              <span>15010 - A Coruña</span>
            </div>
          </div>
        </div>
      </div>
      <ng-template #isPC>
        <div class="contenido-pc">
          <div><!-- teléfono y email -->
            <div class="flexYcenter">
              <a href="https://wa.me/34673549799">
                <img width="30rem" src="assets/images/rrss/whatsapp.png" />
              </a>
              <a href="tel:+34673549799">
                <mat-icon class="espacio" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="phone_forwared"></mat-icon>
              </a>
              <span>673.549.799</span>
            </div>
            <div class="flexYcenter">

              <a href="mailto:iagoiam82@gmail.com" style="color: white;">
                <img class="espacio" width="30rem" src="assets/images/rrss/gmail.png" />
              </a>
              <span>iagoiam82@gmail.com</span>
            </div>
          </div>
          <div><!--titulo-->
            <h1>IAGO ALONSO MEIJIDE</h1>
          </div>
          <div>
            <div class="flexYcenter"><!--ciudad-->
              <a href="https://www.google.es/maps/place/15010+A+Coru%C3%B1a,+La+Coru%C3%B1a/@43.3620694,-8.434345,3367m/data=!3m1!1e3!4m6!3m5!1s0xd2e7cfd174fc6b1:0x1c04f585be1f51b0!8m2!3d43.361751!4d-8.4430997!16s%2Fg%2F1tkp67_p?entry=ttu" style="color: white;">
                <img class="espacio" width="30rem" src="assets/images/rrss/maps.png" />
              </a>
              <span>15010 - A Coruña</span>
            </div>
          </div>
        </div>
      </ng-template>







    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>