<div class="toolbar" role="banner" style="background-color: #ca49c4;">
  <img width="120"alt="Iago Alonso Logo" src="/assets/images/logoIago.png" />
    <a routerLink="/sobreMi" style="padding-left: 15px; color: white; text-decoration: underline;">Sobre Mi</a>
    <a routerLink="/formacion" style="padding-left: 15px; color: white; text-decoration: underline;">Formación</a>
    <a routerLink="/experienciaProfesional" style=" padding-left: 15px;color: white; text-decoration: underline;">Experiencia Profesional</a>
    <a routerLink="/otraInformacion" style="padding-left: 15px;color: white; text-decoration: underline;">Otra Información</a>
</div>