<div class="toolbar" role="banner" style="background-color: #ca49c4;">
  <img width="120"alt="Iago Alonso Logo" src="/assets/images/logoIago.png" />
    <a routerLink="/sobreMi" style="padding-left: 15px; color: white; text-decoration: underline;">Sobre Mi</a>
    <a routerLink="/habilidades" style="padding-left: 15px; color: white; text-decoration: underline;">Habilidades</a>
    <a routerLink="/formacionAcademica" style="padding-left: 15px; color: white; text-decoration: underline;">Formación Académica</a>
    <a routerLink="/formacionComplementaria" style="padding-left: 15px; color: white; text-decoration: underline;">Formación Complementaria</a>
    <a routerLink="/experienciaProfesional" style=" padding-left: 15px;color: white; text-decoration: underline;">Experiencia Profesional</a>
    <a routerLink="/otraInformacion" style="padding-left: 15px;color: white; text-decoration: underline;">Otra Información</a>
</div>