<mat-grid-list [cols]="colSize" rowHeight="55rem" style="text-align: center;">
  <h1>Otra información</h1>
  <mat-grid-tile [colspan]="1">

      <!-- Cruz Roja -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="titulo"></div>
          <mat-card-title>Cruz Roja</mat-card-title>
          <mat-card-subtitle>Voluntario</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/grupo.jpg" alt="Grupo de cruz roja">
        <mat-card-content style="padding-top: 10px;">
          <p>
            He impartido como voluntario un curso dirigido a personas mayores de 65 años
            sobre el uso y la forma de aplicar las nuevas tecnologías.
          </p>
          <p>
            Ha sido una experiencia muy gratificante y enriquecedora
            ya que todos los participantes han tenido una actitud inmejorable,
            haciéndome sentir muy cómodo y valorado.
          </p>
        </mat-card-content>
      </mat-card>

  </mat-grid-tile>
</mat-grid-list>